<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ER System - Patient Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a th:href="@{/}">Main</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/patientList}">Patient list</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Patient details</li>
	  </ol>
	</nav>
	<h2 class="pt-2 text-center" >Patient details</h2>
	<form class="ml-4 w-25" th:object="${patient}">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>First Name</label>
				<input
					readonly class="form-control"
					type="text" id="firstname" th:field="*{firstName}" />
			</div>
			<div class="form-group col-md-6">
				<label>Last Name</label>
				<input
					readonly class="form-control"
					type="text" id="lastname" th:field="*{lastName}" />
			</div>
		</div>
		<div class="form-group">
			<label>Social Security Number</label>
			<input
				readonly class="form-control"
				type="text" id="ssn" th:field="*{hklotunnus}" />
		</div>
		<div class="form-group">
			<label>Address</label>
			<input
				readonly class="form-control"
				type="text" id="address" th:field="*{address}" />
		</div>
		<div class="form-row">
			<div class="form-group col-md-5">
				<label>Post Code</label>
				<input
					readonly class="form-control"
					type="text" id="postcode" th:field="*{postcode}" />
			</div>
			<div class="form-group col-md-7">
				<label>City</label>
				<input
					readonly class="form-control" type="text" id="city" th:field="*{city}" />
			</div>
		</div>
		<div class="form-group">
			<label>email</label>
			<input
				readonly class="form-control"
				type="email" id="email" th:field="*{email}" />
		</div>
		<div class="form-group">
			<label>Room number</label>
			<input
				readonly class="form-control col-md-3"
				type="number" id="room" th:field="*{roomNo}" />
		</div>
		<div class="form-group" >
			<label>Status of the case</label>
			<input
				readonly class="form-control"
				type="text" id="status" th:field="*{status.name}" />
		</div>
	</form>
</body>
</html> 